<table class="table summary-table">
  <thead>
    <tr class="form-title">
      <th>Emergency Transfer Summary (From 34L-D)</th>
    </tr>
  </thead>
</table>

<table class="table summary-table">
  <thead>
    <tr>
      <th>Transferring Facility</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Name<br>
        <%= @facility.name %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table summary-table">
  <thead>
    <tr>
      <th>Patient Information</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="first_name">First Name <br> <%= @patient.first_name %></td>
      <td id="middle_name">Middle Name <br> <%= @patient.middle_name %></td>
      <td id="last_name">Last Name <br> <%= @patient.last_name %></td>
      <td id="mr">Medical Record (MR) <br> <%= @patient.mr %></td>
    </tr>
  </tbody>
</table>
  
<table class="table summary-table">
  <thead>
    <tr>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          This <%= @patient.age %> years old <%= @patient.gender %> was admitted to <%= @facility.name %> 
          on <%= @patient.admission.date %> at <%= @patient.admission.time %> due to <%= to_sentence @patient.admission.diagnoses.map(&:described_code) %>. 
          The observed symptoms on admission were <%= to_sentence @patient.admission.symptoms.map(&:description) %>. 
          <%= to_sentence @patient.admission.observations.map(&:description) %>.
        </p>
        <p>
          Upon asking about known allergies, the patient disclosed <%= to_sentence @patient.allergies.map(&:description) %>. 
          Upon asking about chronic conditions, the patient disclosed <%= to_sentence @patient.chronic_conditions.map(&:description) %>. 
          The patient was administered with <%= to_sentence @patient.medications.map(&:summary) %>.
        </p>
        <p>
          The staff performed <%= to_sentence @patient.diagnostic_procedures.map(&:summary) %>, 
          revealing <%= to_sentence @patient.diagnoses.map(&:described_code) %>. Our team proceeded to 
          <%= to_sentence @patient.treatments.map(&:summary) %>.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Print Summary', '#', class: 'btn btn-success no-print', id: 'summary_print_btn' %>

