<p>
  This <%= @patient.age %> years old <%= @patient.gender %> was admitted to <%= @facility.name %> 
  on <%= @patient.admission.date %> at <%= @patient.admission.time %> due to <%= @patient.admission.diagnoses.map(&:described_code).to_sentence %>. 
  The observed symptoms on admission were <%= @patient.admission.symptoms.map(&:description).to_sentence %>. 
  <%= @patient.admission.observations.map(&:description).to_sentence %>.
</p>
<p>
  Upon asking about known allergies, the patient disclosed {{patient.allergies > description | comma_separate }}. 
  Upon asking about chronic conditions, the patient disclosed {{patient.chronic_conditions > described_code | comma_separated}}. 
  The patient was administered with {{patient.medications > name, dosage, route, frequency, “to”, necessity | space_join | comma_separate }}.
</p>
<p>
  The staff performed {{patient.diagnostic_procedures > description, “at”, time | space_join | comma_separate }}, 
  revealing {{patient.diagnoses > described_code | comma_separate }}. Our team proceeded to 
  {{patient.treatments > description, “to”, necessity | space_join | comma_separate }}.
</p>
